
.sectionsix {
    width : auto;
    background : rgb(250, 249, 249);
    height : 70px;
    margin-bottom : -10px;
}


.footer{
    display: flex;
    margin-left : 27%;
    padding-top : 25px;
}

footer a {
    padding-left : 10px;
    padding-right : 10px;
    text-decoration : none;
    color : #786F82;
    margin-top : 6px;
}

footer a:hover {
    background : #DEDAE3;
    transition : 0.5s;
}