/* 기본 세팅 */

.inner-container {
    width : 1250px;
    margin : 0 auto;
    position: relative;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
}

body {
    font-family: 'GmarketSansLight';
}

/* 헤더 */

header {
    background : #D8E8FB ;
    position : fixed;
    width : 100%;
    margin-top : -2px;
    z-index: 4;
}

header .inner-container {
    display : flex;
    flex-basis : 200px;
    margin-top : 20px;
}

.logo {
    font-size : 25px;
    font-weight: bold;
    color : rgb(83, 83, 83);
    text-shadow: 2px 2px 2px gray;
    margin-right : 330px;
    margin-left : 50px;
    text-decoration : none;
}

.logo:hover {
    opacity: 0.5;
}

/* .header-btn1, .header-btn2, .header-btn3, .header-btn4 {
    width : 200px;
    height : 100px;
} */

.header-btns a {
  color: #786F82;
  font-size : 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding : 0 10px;
}

.header-btns {
    list-style: none;
    display : flex;
    flex-basis : 200px;
    position : relative;
    bottom : 8px;
}


.header-btns a:hover {
    background : #DEDAE3 ;
    transition : 0.5s;
}

@media screen and (max-width : 768px) {
    header .inner-container{
        flex-direction: column;
        /* align-items: flex-start; */
    }
    header .header-btns {
        flex-direction: column;
        align-items: center;
        width : 30%;
    }
    header li {
        /* width : 100%; */
        text-align: center;
    }
}