
/* 기본 세팅 */

.inner-container {
    width : 1250px;
    margin : 0 auto;
    position: relative;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
}

body {
    font-family: 'GmarketSansLight';
}

/* 헤더 */

header {
    background : #D8E8FB ;
    position : fixed;
    width : 99.15%;
    margin-top : -17px;
    z-index: 4;
}

header .inner-container {
    display : flex;
    padding : 20px 0;
}

.logo {
    font-size : 30px;
    font-weight: bold;
    color : rgb(83, 83, 83);
    text-shadow: 2px 2px 2px gray;
    margin-right : 309px;
    font-family: 'GmarketSansLight';
    text-decoration : none;
}

.logo:hover {
    opacity: 0.5;
}

.header-btn1, .header-btn2, .header-btn3, .header-btn4 {
    display: inline-block;
    width : 150px;
    height : 30px;
}

.header-btns a {
  color: #786F82;
  font-size : 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding-top : 11px;
}

.header-btns a:hover {
    background : #DEDAE3 ;
    transition : 0.5s;
}


/* section1 메인 */

.sectionone {
    background: #D8E8FB;
    height : 930px;
    width : 100%;
}

.mainchracter {
    position: absolute;
    margin-top : 183px;
    margin-left : 120px;
}

.maintext {
    position : absolute;
    text-align: right;
    right : 120px;
    font-size : 50px;
    margin-top : 400px;
    /* display : none; */
}

/* .typing {
    display : inline-block;
    animation-name : typing;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes typing {
    0%{border-right : 1px solid black;}
    50%{border-right : 1px solid black;}
    100%{border-right : 1px solid black;}
} */


/* section2 어바웃미*/

/* 프로필 */

.sectiontwo {
    height : 930px;
    background : rgb(250, 249, 249);
    position: relative;
}

.sectiontwo .inner-container {
    display: flex;
}

.innerinner {
    margin-left : 100px;
    margin-right : 150px;
}

#myphoto {
    width : 360px;
    height : 360px;
    border : 20px solid #A192B8;
    margin-top : 155px;
}

.aboutmetext {
    display: flex;
    margin-left : 110px;
    margin-top : 60px;
    font-size : 25px;
    line-height: 40px;
}

.aboutmemenu {
    font-weight: bold;
    margin-left : -110px;
    margin-right : 50px;
    width : 100px;
    color : #A192B8;
    text-shadow: 1px 1px 1px gray;
}

/* 자기소개 리플렛 */

.introduce {
    /* margin-top : 165px;
    margin-right : 200px; */
    display : flex;
}

.introducecontainer {
    position : relative;
    overflow: hidden;
    width : 100%;
    width : 419px;
    height: 595px;
    border : 1.5px solid #786F82;
    display: flex;
    margin-top : 165px;
}

.introduceimg {
    position: absolute;
    width : 100%;
    width : 419px;
    height: 595px;
    display: flex;
    margin-top : 0px;
    padding-left : 0px;
}

.introduceimg.animated {
    -webkoit-transition : left 0.3s ease-in;
    transition : left 0.3s ease-in;
}

.right, .left {
    font-size : 50px;
    text-decoration : none;
    color : #786F82;
    position : absolute;
    margin-top : 440px;
}

.left {
    margin-left : -30px;
}

.right {
    margin-left : 424px; 
}

.left:hover {
    font-weight : bold;
}

.right:hover {
    font-weight : bold;
}

.right.disabled .left.disabled {display: none;}


/* section3 개인주제 프로젝트*/

.sectionthree {
    height : 700px;
    background : #CFC4E0;
}

/* section4 팀 프로젝트 */

.sectionfour {
    height : 700px;
    background : #DEDAE3;
}

/* section5 컨택트 */

.sectionfive {
    height : 700px;
    background : #dae2dc;
}
